# Emerging Sales

In [55]:
import os

import random
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.model_selection import train_test_split
import scipy.stats as stats
from sklearn.ensemble import RandomForestRegressor

from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error,mean_absolute_percentage_error
from statsmodels.stats.outliers_influence import variance_inflation_factor

from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score

#from pandas_profiling import ProfileReport
import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

In [56]:
df1 = pd.read_csv("google_search_data.csv")
df2 = pd.read_csv("product_manufacturer_list.csv")
df3 = pd.read_csv("sales_data.csv")
df4 = pd.read_csv("social_media_data.csv")
df5 = pd.read_csv("Theme_list.csv")
df6= pd.read_csv("Theme_product_list.csv")

In [57]:
df1.columns = df1.columns.str.lower()

In [58]:
df2.columns = df2.columns.str.lower()

In [59]:
df3.columns = df3.columns.str.lower()

In [60]:
df4.columns = df4.columns.str.lower()

In [61]:
df5.columns = df5.columns.str.lower()

In [62]:
df6.columns = df6.columns.str.lower()

In [63]:
df1

              date platform  searchvolume  claim_id  week_number  year_new
0       05-01-2014   google           349       916            1      2014
1       06-01-2014   google           349       916            2      2014
2       07-01-2014   google           697       916            2      2014
3       10-01-2014   google           349       916            2      2014
4       20-01-2014   google           697       916            4      2014
...            ...      ...           ...       ...          ...       ...
181560  05-09-2019  walmart           125       980           36      2019
181561  22-09-2019  walmart            84       980           38      2019
181562  26-09-2019  walmart            42       980           39      2019
181563  15-07-2019  walmart            42       622           29      2019
181564  02-09-2019  walmart            42       689           36      2019

[181565 rows x 6 columns]

In [64]:
df2

,product_id,vendor,unnamed: 2,unnamed: 3,unnamed: 4,unnamed: 5,unnamed: 6
0,1,Others,NaN,NaN,NaN,NaN,NaN
1,2,Others,NaN,NaN,NaN,NaN,NaN
2,3,Others,NaN,NaN,NaN,NaN,NaN
3,4,Others,NaN,NaN,NaN,NaN,NaN
4,5,Others,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
67170,67171,Private Label,NaN,NaN,NaN,NaN,NaN
67171,67172,Private Label,NaN,NaN,NaN,NaN,NaN
67172,67173,Private Label,NaN,NaN,NaN,NaN,NaN
67173,67174,Private Label,NaN,NaN,NaN,NaN,NaN
67174,67175,Private Label,NaN,NaN,NaN,NaN,NaN

In [65]:
df3

,system_calendar_key_n,product_id,sales_dollars_value,sales_units_value,sales_lbs_value
0,20160109,1,13927.0,934,18680
1,20160109,3,10289.0,1592,28646
2,20160109,4,357.0,22,440
3,20160109,6,23113.0,2027,81088
4,20160109,7,23177.0,3231,58164
...,...,...,...,...,...
4526177,20181027,47536,8.0,2,3
4526178,20181027,47539,391.0,39,68
4526179,20181027,47543,105.0,59,48
4526180,20181027,47544,3720.0,1246,4361
4526181,20181027,47545,1729.0,2016,378

In [66]:
df4

        theme id published_date  total_post
0          148.0     10-01-2015          76
1          148.0     10-10-2015          31
2          148.0     10-11-2015          65
3          148.0     10-12-2015          88
4          148.0     10/13/2015          85
...          ...            ...         ...
533385     876.0     09-05-2019        4658
533386     876.0     09-06-2019        3731
533387     876.0     09-07-2019        2336
533388     876.0     09-08-2019        1374
533389     876.0     09-09-2019        1442

[533390 rows x 3 columns]

In [67]:
df5

     claim_id     claim name
0           0       No Claim
1           8       low carb
2          15          beans
3          16          cocoa
4          26        vanilla
..        ...            ...
203       508           cola
204       769     shortbread
205       949  passion fruit
206       521   blood orange
207       876        caramel

[208 rows x 2 columns]

In [68]:
df6

       product_id  claim_id
0              26         8
1              29         8
2              48        81
3              50        81
4              74       227
...           ...       ...
91480        8158         0
91481       45183         0
91482       25690         0
91483       46085         0
91484       34907         0

[91485 rows x 2 columns]

In [69]:
df10 = pd.merge(df1,df5, on = 'claim_id', how = 'inner')

In [70]:
df10

,date,platform,searchvolume,claim_id,week_number,year_new,claim name
0,05-01-2014,google,349,916,1,2014,gluten free
1,06-01-2014,google,349,916,2,2014,gluten free
2,07-01-2014,google,697,916,2,2014,gluten free
3,10-01-2014,google,349,916,2,2014,gluten free
4,20-01-2014,google,697,916,4,2014,gluten free
...,...,...,...,...,...,...,...
181560,24-07-2019,google,42,843,30,2019,snickerdoodle
181561,25-09-2019,google,84,843,39,2019,snickerdoodle
181562,04-06-2018,amazon,135,606,23,2018,hemp seeds
181563,31-01-2019,amazon,39,433,5,2019,gingerbread
181564,29-06-2019,google,41,433,26,2019,gingerbread

In [71]:
df11 = pd.merge(df10,df6, on ='claim_id', how = 'inner')

In [72]:
df11

,date,platform,searchvolume,claim_id,week_number,year_new,claim name,product_id
0,01-01-2014,google,6613,8,1,2014,low carb,26
1,01-01-2014,google,6613,8,1,2014,low carb,29
2,01-01-2014,google,6613,8,1,2014,low carb,86
3,01-01-2014,google,6613,8,1,2014,low carb,87
4,01-01-2014,google,6613,8,1,2014,low carb,120
...,...,...,...,...,...,...,...,...
100858375,29-06-2019,google,41,433,26,2019,gingerbread,18931
100858376,29-06-2019,google,41,433,26,2019,gingerbread,18932
100858377,29-06-2019,google,41,433,26,2019,gingerbread,26054
100858378,29-06-2019,google,41,433,26,2019,gingerbread,26059
100858379,29-06-2019,google,41,433,26,2019,gingerbread,26420

In [73]:
map1 = dict(zip(df3['product_id'],df3['sales_dollars_value']))

In [74]:
map1

{1: 4579.0,
 3: 4638.0,
 4: 15.0,
 6: 14108.0,
 7: 33879.0,
 8: 98247.0,
 9: 368551.0,
 11: 9578.0,
 12: 28214.0,
 14: 17483.0,
 15: 13000.0,
 16: 48416.0,
 17: 104835.0,
 18: 125156.0,
 19: 39473.0,
 20: 241.0,
 21: 20.0,
 23: 12962.0,
 33: 134.0,
 34: 46.0,
 35: 201.0,
 36: 72.0,
 37: 69.0,
 65: 625.0,
 75: 13.0,
 90: 355.0,
 116: 3.0,
 337: 436.0,
 338: 30.0,
 342: 124.0,
 343: 17.0,
 345: 1031.0,
 346: 10691.0,
 347: 13150.0,
 348: 12851.0,
 349: 184.0,
 350: 19.0,
 352: 2198.0,
 353: 5913.0,
 354: 8952.0,
 355: 7043.0,
 356: 8552.0,
 357: 3.0,
 358: 82.0,
 362: 17.0,
 364: 4398.0,
 368: 9.0,
 369: 2711.0,
 370: 1.0,
 371: 13.0,
 372: 7.0,
 379: 1.0,
 386: 1133.0,
 387: 555.0,
 388: 2024.0,
 389: 7.0,
 390: 2.0,
 391: 1.0,
 392: 6870.0,
 393: 5.0,
 395: 9.0,
 396: 24.0,
 405: 4.0,
 414: 15.0,
 415: 14.0,
 418: 0.0,
 419: 68529.0,
 420: 52820.0,
 422: 17.0,
 423: 17.0,
 424: 2.0,
 429: 634.0,
 437: 8.0,
 448: 3.0,
 449: 15.0,
 450: 6.0,
 451: 7.0,
 483: 1209.0,
 587: 115386.0,
 589: 9599.0,
 602: 250912.0,
 608: 73848.0,
 611: 4.0,
 613: 144.0,
 620: 146.0,
 621: 211.0,
 623: 4186.0,
 624: 0.0,
 11322: 9849.0,
 11323: 14272.0,
 11324: 10096.0,
 11325: 10472.0,
 11326: 24330.0,
 11327: 17806.0,
 11328: 37095.0,
 11329: 18686.0,
 11330: 21249.0,
 11331: 34022.0,
 11332: 24737.0,
 11334: 27652.0,
 11335: 7934.0,
 11336: 29833.0,
 11337: 34728.0,
 11338: 54679.0,
 11339: 16758.0,
 11341: 24878.0,
 11342: 15744.0,
 11343: 26621.0,
 11344: 26464.0,
 11345: 33041.0,
 11346: 4.0,
 11347: 8.0,
 11348: 0.0,
 11350: 213.0,
 11351: 36388.0,
 11352: 64477.0,
 11353: 22293.0,
 11354: 85613.0,
 11355: 37775.0,
 11356: 1428.0,
 11357: 18.0,
 11358: 4.0,
 11360: 505.0,
 11361: 46.0,
 11362: 42486.0,
 11363: 10.0,
 11364: 65577.0,
 11365: 218841.0,
 11366: 35597.0,
 11367: 229836.0,
 11368: 104218.0,
 11369: 7935.0,
 11370: 117509.0,
 11371: 51645.0,
 11372: 95.0,
 11373: 52967.0,
 11379: 13575.0,
 11381: 31180.0,
 11382: 8806.0,
 11400: 1533.0,
 11406: 78283.0,
 11407: 135779.0,
 11408: 168066.0,
 11436: 185545.0,
 11437: 0.0,
 11438: 11484.0,
 11439: 286.0,
 11440: 9514.0,
 11441: 20.0,
 11443: 0.0,
 11444: 4627.0,
 11445: 87.0,
 11446: 11887.0,
 11447: 31.0,
 11448: 14.0,
 11450: 1.0,
 11452: 5172.0,
 11453: 8.0,
 11457: 4.0,
 11459: 34.0,
 11460: 10.0,
 11462: 828.0,
 11469: 8713.0,
 11470: 1294.0,
 11477: 10904.0,
 11478: 84.0,
 11479: 13437.0,
 11480: 29.0,
 11481: 3.0,
 11483: 359.0,
 11485: 9014.0,
 11486: 86.0,
 11487: 35410.0,
 11488: 4510.0,
 11489: 35045.0,
 11490: 82735.0,
 23396: 4460.0,
 23397: 4990.0,
 23398: 8163.0,
 23399: 3244.0,
 23400: 4623.0,
 23401: 1018.0,
 23402: 31012.0,
 23403: 28005.0,
 23404: 34352.0,
 23405: 17908.0,
 23406: 50232.0,
 23407: 500.0,
 23408: 14.0,
 23409: 45.0,
 23410: 191.0,
 23411: 16.0,
 23412: 34454.0,
 23413: 17974.0,
 23414: 14255.0,
 23415: 27428.0,
 23416: 20771.0,
 23417: 3747.0,
 23418: 429.0,
 23419: 680.0,
 23420: 41.0,
 23421: 1992.0,
 23422: 48.0,
 23423: 1631.0,
 23424: 4385.0,
 23425: 24.0,
 23426: 1369.0,
 23427: 728.0,
 23428: 25913.0,
 23429: 1855.0,
 23430: 1.0,
 23435: 9.0,
 23439: 228.0,
 23440: 191.0,
 23445: 1442.0,
 23446: 637.0,
 23449: 2660.0,
 23450: 578.0,
 23452: 9673.0,
 23453: 12448.0,
 23454: 12479.0,
 23455: 13814.0,
 23456: 9485.0,
 23457: 2986.0,
 23458: 3449.0,
 23459: 6389.0,
 23460: 20.0,
 23461: 1.0,
 23462: 7.0,
 23463: 17.0,
 23464: 2.0,
 23465: 2.0,
 23466: 2.0,
 23467: 2.0,
 23472: 2515.0,
 23473: 4521.0,
 23474: 5403.0,
 23475: 0.0,
 23476: 36.0,
 23477: 125.0,
 23495: 1798.0,
 23496: 2206.0,
 23497: 317.0,
 23498: 6865.0,
 23499: 686.0,
 23505: 121.0,
 23512: 1.0,
 23513: 348.0,
 23516: 2477.0,
 23520: 295.0,
 23521: 11.0,
 23522: 5.0,
 23523: 88.0,
 23524: 2.0,
 23525: 468.0,
 23526: 27588.0,
 23527: 64570.0,
 23528: 51.0,
 23529: 45368.0,
 23530: 9262.0,
 23531: 63208.0,
 23532: 704.0,
 23535: 29958.0,
 23536: 20734.0,
 34025: 134.0,
 34026: 4902.0,
 34027: 2624.0,
 34028: 3022.0,
 34029: 1079.0,
 34030: 1974.0,
 34031: 3082.0,
 34032: 3803.0,
 34033: 4356.0,
 34034: 576.0,
 34035: 553.0,
 34036: 810.0,
 34037: 1618.0,
 34038: 1051.0,
 34039: 4.0,
 34040: 19.0,
 34041: 1703.0,
 34042: 3542.0,
 34046: 218.0,
 34047: 280.0,
 34053: 2795.0,
 34054: 544.0,
 34055: 1595.0,
 34056: 366.0,
 34057: 11.0,
 34058: 796.0,
 34060: 2376.0,
 34061: 2692.0,
 34070: 3879.0,
 34071: 6116.0,
 34072: 1791.0,
 34073: 1393.0,
 34074: 3201.0,
 34075: 730.0,
 34076: 365.0,
 34077: 0.0,
 34078: 7.0,
 34079: 1.0,
 34080: 1001.0,
 34081: 2595.0,
 34082: 823.0,
 34083: 36.0,
 34084: 344.0,
 34085: 154.0,
 34087: 3.0,
 34089: 174.0,
 34090: 12.0,
 34092: 2889.0,
 34097: 929.0,
 34099: 2.0,
 34103: 9.0,
 34106: 278.0,
 34109: 0.0,
 34110: 44561.0,
 34111: 17438.0,
 34114: 386.0,
 34115: 1.0,
 34116: 1.0,
 34118: 1.0,
 34130: 3.0,
 34131: 1.0,
 34132: 2.0,
 34133: 3.0,
 34134: 1.0,
 34139: 0.0,
 34140: 11.0,
 34141: 16.0,
 34142: 27163.0,
 34143: 23920.0,
 34144: 405.0,
 34145: 4551.0,
 34146: 4894.0,
 34148: 5059.0,
 34151: 202.0,
 34152: 2.0,
 34171: 635.0,
 34172: 152.0,
 34173: 3790.0,
 34174: 3086.0,
 34175: 197.0,
 34176: 2464.0,
 34177: 2101.0,
 34178: 1821.0,
 34179: 2699.0,
 34180: 4665.0,
 34181: 2298.0,
 34182: 92.0,
 34183: 4775.0,
 46012: 269278.0,
 46013: 9.0,
 46016: 8164.0,
 46018: 673.0,
 46020: 6818.0,
 46021: 160.0,
 46025: 4.0,
 46030: 2.0,
 46031: 7181.0,
 46034: 15.0,
 46035: 4216.0,
 46041: 90.0,
 46046: 36456.0,
 46050: 1.0,
 46054: 17786.0,
 46059: 3.0,
 46060: 1865.0,
 46064: 5.0,
 46065: 18.0,
 46067: 31.0,
 46069: 0.0,
 46071: 10.0,
 46072: 2.0,
 46073: 0.0,
 46077: 4283.0,
 46081: 8.0,
 46083: 17535.0,
 46084: 7.0,
 46085: 4.0,
 46086: 4.0,
 46087: 266.0,
 46088: 4011.0,
 46090: 4.0,
 46092: 10.0,
 46093: 1.0,
 46097: 0.0,
 46098: 870.0,
 46099: 26.0,
 46100: 34022.0,
 46101: 7.0,
 46103: 12763.0,
 46104: 5.0,
 46105: 42990.0,
 46108: 1667.0,
 46112: 4.0,
 46114: 9.0,
 46116: 492.0,
 46119: 3216.0,
 46133: 0.0,
 46134: 3049.0,
 46136: 2247.0,
 46137: 5077.0,
 46140: 4.0,
 46141: 3.0,
 46142: 4.0,
 46143: 410.0,
 46146: 1720.0,
 46148: 1.0,
 46152: 3227.0,
 46154: 117.0,
 46155: 3.0,
 46156: 1002.0,
 46159: 2669.0,
 46161: 0.0,
 46164: 73.0,
 46165: 12500.0,
 46166: 6.0,
 46168: 5151.0,
 46169: 133.0,
 46174: 4.0,
 46175: 6.0,
 46176: 15.0,
 46177: 0.0,
 46182: 165.0,
 46189: 44.0,
 46191: 7738.0,
 46193: 754.0,
 46197: 1419.0,
 46198: 2.0,
 46203: 20.0,
 46207: 2.0,
 46208: 36.0,
 46213: 932.0,
 46217: 2.0,
 46220: 4259.0,
 46222: 1.0,
 46223: 5389.0,
 46226: 772.0,
 5437: 7.0,
 5438: 7.0,
 5439: 16.0,
 5441: 270133.0,
 5442: 433142.0,
 5444: 105.0,
 5445: 30645.0,
 5446: 111542.0,
 5448: 8925.0,
 5449: 128.0,
 5450: 60.0,
 5451: 171.0,
 5452: 4.0,
 5453: 148.0,
 5454: 2.0,
 5456: 28.0,
 5625: 193.0,
 5627: 302.0,
 5628: 181.0,
 5629: 121.0,
 5630: 121.0,
 5704: 123.0,
 5705: 47890.0,
 5707: 3.0,
 5708: 99775.0,
 5709: 82253.0,
 5714: 38385.0,
 5715: 13666.0,
 5716: 11.0,
 5717: 16.0,
 5718: 17.0,
 5719: 73555.0,
 5720: 10311.0,
 5721: 35248.0,
 5722: 11688.0,
 5723: 175.0,
 5724: 17660.0,
 5728: 1.0,
 5918: 192.0,
 5919: 8.0,
 5920: 227.0,
 5921: 633.0,
 5922: 1955.0,
 5923: 20483.0,
 5924: 19757.0,
 6174: 860.0,
 6177: 72.0,
 6178: 1.0,
 6179: 1.0,
 6180: 32.0,
 6181: 69.0,
 6182: 5767.0,
 6183: 30.0,
 6185: 4773.0,
 6199: 853.0,
 6200: 668.0,
 6201: 237.0,
 6202: 138.0,
 6203: 360.0,
 6204: 10.0,
 6205: 101.0,
 6206: 300.0,
 6207: 1574.0,
 6208: 622.0,
 6209: 968.0,
 6212: 161.0,
 6213: 121.0,
 6214: 121.0,
 6218: 121.0,
 6219: 527.0,
 6220: 571.0,
 6239: 2043.0,
 6240: 2703.0,
 6241: 2265.0,
 6245: 993.0,
 6247: 3417.0,
 6248: 2568.0,
 6249: 2869.0,
 6250: 4362.0,
 6251: 1544.0,
 6267: 15704.0,
 6268: 12801.0,
 6269: 18185.0,
 6270: 13005.0,
 6272: 2.0,
 6274: 549.0,
 6276: 43.0,
 6277: 43.0,
 625: 202129.0,
 627: 13630.0,
 628: 73523.0,
 630: 8.0,
 632: 27076.0,
 633: 1.0,
 642: 79481.0,
 643: 128.0,
 648: 12867.0,
 649: 212058.0,
 651: 92554.0,
 652: 10.0,
 654: 87833.0,
 655: 2.0,
 656: 67482.0,
 657: 893.0,
 659: 229940.0,
 661: 9.0,
 662: 419841.0,
 663: 225737.0,
 665: 174961.0,
 668: 35570.0,
 669: 512917.0,
 671: 256390.0,
 672: 1.0,
 673: 18.0,
 674: 73337.0,
 675: 160304.0,
 678: 3661.0,
 679: 2.0,
 680: 9940.0,
 681: 50.0,
 682: 330399.0,
 683: 17235.0,
 684: 470310.0,
 685: 233561.0,
 686: 14785.0,
 687: 11030.0,
 689: 414.0,
 690: 16.0,
 691: 50.0,
 693: 10.0,
 694: 10.0,
 695: 10.0,
 698: 673.0,
 699: 3.0,
 700: 1.0,
 701: 1.0,
 702: 13.0,
 703: 2.0,
 704: 1.0,
 705: 439.0,
 706: 1052.0,
 709: 7907.0,
 710: 139783.0,
 711: 125014.0,
 712: 124574.0,
 713: 337979.0,
 714: 36605.0,
 716: 3.0,
 718: 0.0,
 719: 3.0,
 720: 3.0,
 721: 4.0,
 728: 340429.0,
 729: 24112.0,
 730: 14835.0,
 731: 1.0,
 732: 5192.0,
 733: 4192.0,
 734: 7733.0,
 735: 9132.0,
 737: 3073.0,
 738: 2024.0,
 740: 39440.0,
 741: 46469.0,
 742: 87459.0,
 744: 2.0,
 747: 26085.0,
 748: 9883.0,
 749: 10.0,
 750: 14832.0,
 752: 7.0,
 756: 90682.0,
 757: 11.0,
 758: 54663.0,
 759: 11582.0,
 771: 312588.0,
 11491: 22976.0,
 11492: 39.0,
 11493: 101444.0,
 11494: 48976.0,
 11495: 80646.0,
 11496: 29475.0,
 11497: 9769.0,
 11498: 29.0,
 11499: 10041.0,
 11503: 82193.0,
 11506: 22197.0,
 11508: 14.0,
 11509: 48098.0,
 11510: 99913.0,
 11511: 66037.0,
 11514: 10.0,
 11515: 9835.0,
 11516: 41619.0,
 11517: 2.0,
 11518: 35.0,
 11519: 5.0,
 11520: 14808.0,
 11521: 18539.0,
 11522: 34359.0,
 11524: 14.0,
 11525: 6916.0,
 11526: 31.0,
 11527: 8027.0,
 11528: 29.0,
 11529: 5532.0,
 11530: 62.0,
 11533: 10929.0,
 11534: 29.0,
 11535: 24072.0,
 11536: 259.0,
 11537: 11444.0,
 11538: 29.0,
 11539: 19451.0,
 11540: 259.0,
 11541: 22.0,
 11544: 15.0,
 11545: 15.0,
 11546: 18211.0,
 11548: 199486.0,
 11554: 2.0,
 11555: 13.0,
 11556: 112.0,
 11557: 104.0,
 11558: 6.0,
 11566: 2755.0,
 11567: 44.0,
 11568: 106.0,
 11569: 185.0,
 11570: 0.0,
 11571: 49665.0,
 11572: 4.0,
 11573: 86537.0,
 11574: 9.0,
 11575: 10827.0,
 11576: 29.0,
 11577: 21341.0,
 11578: 57.0,
 11579: 11205.0,
 11580: 209.0,
 11584: 10.0,
 11585: 278.0,
 11586: 3.0,
 11587: 2.0,
 11588: 2.0,
 11589: 0.0,
 11595: 205.0,
 11596: 19.0,
 11597: 52274.0,
 11598: 28216.0,
 11600: 11.0,
 11601: 92.0,
 11602: 4.0,
 11603: 16.0,
 11604: 10.0,
 11605: 9.0,
 11606: 358.0,
 11607: 2390.0,
 11608: 4.0,
 11609: 371.0,
 11610: 905.0,
 11611: 1.0,
 11613: 7995.0,
 11614: 26.0,
 23537: 46021.0,
 23538: 9205.0,
 23539: 3195.0,
 23540: 68832.0,
 23541: 4140.0,
 23546: 62861.0,
 23547: 12701.0,
 23549: 48783.0,
 23550: 189.0,
 23551: 985.0,
 23552: 162.0,
 23553: 3612.0,
 23554: 2232.0,
 23555: 12698.0,
 23558: 476.0,
 23559: 1775.0,
 23560: 2922.0,
 23562: 13559.0,
 23565: 1811.0,
 23588: 95.0,
 23589: 90.0,
 23590: 125.0,
 23591: 220.0,
 23592: 105.0,
 23593: 84.0,
 23598: 3873.0,
 23599: 3520.0,
 23600: 4986.0,
 23601: 5.0,
 23605: 7.0,
 23606: 52.0,
 23607: 221.0,
 23608: 53.0,
 23609: 14.0,
 23610: 13.0,
 23611: 14.0,
 23612: 845.0,
 23613: 3.0,
 23614: 398.0,
 23615: 0.0,
 23616: 49.0,
 23617: 382.0,
 23618: 5.0,
 23619: 3.0,
 23620: 322.0,
 23621: 10.0,
 23622: 37.0,
 23669: 4.0,
 23670: 4.0,
 23671: 51.0,
 23672: 27.0,
 23673: 2.0,
 23674: 156.0,
 23675: 30.0,
 23676: 142.0,
 23677: 163.0,
 23678: 161.0,
 23679: 170.0,
 23680: 139.0,
 23681: 3.0,
 23682: 0.0,
 23683: 13.0,
 23684: 0.0,
 23685: 0.0,
 23686: 0.0,
 23687: 1.0,
 23689: 4836.0,
 23690: 6380.0,
 23691: 4359.0,
 23706: 105.0,
 23707: 31.0,
 23708: 59.0,
 23709: 105.0,
 23720: 56075.0,
 23721: 126.0,
 23723: 13354.0,
 23724: 69.0,
 23725: 24916.0,
 23726: 3281.0,
 23727: 27542.0,
 23728: 43.0,
 23729: 10126.0,
 23730: 47459.0,
 23731: 14140.0,
 23733: 60889.0,
 23735: 31657.0,
 23736: 15.0,
 23737: 2069.0,
 34225: 265.0,
 34232: 862.0,
 34251: 215.0,
 34256: 298.0,
 34260: 222.0,
 34261: 20.0,
 34263: 79.0,
 34264: 4.0,
 34265: 58.0,
 34270: 630.0,
 34271: 1947.0,
 34272: 664.0,
 34274: 2346.0,
 34275: 334.0,
 34276: 664.0,
 34277: 331.0,
 34283: 8.0,
 34284: 1045.0,
 34285: 92.0,
 34286: 174.0,
 34289: 468.0,
 34290: 358.0,
 34291: 600.0,
 34292: 2698.0,
 34293: 737.0,
 34294: 835.0,
 34295: 923.0,
 34296: 21.0,
 34297: 6292.0,
 34350: 126.0,
 34370: 625.0,
 34371: 144.0,
 34373: 373.0,
 34374: 432.0,
 34375: 633.0,
 34377: 373.0,
 34379: 478.0,
 34380: 431.0,
 34381: 633.0,
 34382: 299.0,
 34383: 746.0,
 34384: 265.0,
 34385: 114.0,
 34392: 2112.0,
 34393: 544.0,
 34394: 741.0,
 34395: 59.0,
 34396: 440.0,
 34397: 771.0,
 34410: 16.0,
 34411: 31.0,
 34412: 190.0,
 34413: 498.0,
 34414: 863.0,
 34417: 717.0,
 34418: 37.0,
 34419: 633.0,
 34427: 279.0,
 34433: 316.0,
 34434: 164.0,
 34435: 688.0,
 34442: 1022.0,
 34443: 443.0,
 34444: 428.0,
 34451: 20.0,
 34452: 93.0,
 34453: 38.0,
 34454: 94.0,
 34455: 51.0,
 34460: 18.0,
 34462: 133.0,
 34465: 118.0,
 34466: 87.0,
 34468: 1.0,
 34469: 20.0,
 34495: 903.0,
 34498: 579.0,
 34503: 530.0,
 34504: 708.0,
 34505: 386.0,
 34508: 1419.0,
 34509: 1172.0,
 34510: 3118.0,
 34512: 2655.0,
 34517: 150.0,
 34518: 176.0,
 34541: 10236.0,
 34542: 4344.0,
 46227: 2666.0,
 46230: 1333.0,
 46232: 1.0,
 46233: 339.0,
 46234: 1559.0,
 46236: 2.0,
 46239: 7.0,
 46240: 110.0,
 46241: 2561.0,
 46243: 1311.0,
 46244: 3453.0,
 46247: 1.0,
 46251: 1.0,
 46252: 5.0,
 46257: 4.0,
 46261: 1.0,
 46264: 6665.0,
 46265: 5053.0,
 46269: 11233.0,
 46270: 5.0,
 46271: 30.0,
 46272: 2778.0,
 46276: 1.0,
 46277: 10.0,
 46279: 3.0,
 46282: 1215.0,
 46283: 0.0,
 46288: 60.0,
 46290: 3.0,
 46292: 7855.0,
 46297: 1.0,
 46299: 166.0,
 46301: 3776.0,
 46304: 579.0,
 46305: 289.0,
 46306: 62.0,
 46312: 119777.0,
 46315: 3412.0,
 46323: 4093.0,
 46324: 4808.0,
 46325: 0.0,
 46328: 1.0,
 46332: 1.0,
 46335: 0.0,
 46336: 3192.0,
 46339: 671.0,
 46347: 51.0,
 46350: 359.0,
 46355: 311.0,
 46359: 25434.0,
 46362: 1428.0,
 46363: 2.0,
 46366: 5327.0,
 46368: 5.0,
 46369: 3601.0,
 46372: 4.0,
 46375: 6267.0,
 46376: 2.0,
 46379: 1.0,
 46380: 12.0,
 46381: 27.0,
 46384: 3760.0,
 46388: 35748.0,
 46389: 7.0,
 46390: 9.0,
 46392: 75449.0,
 46393: 2.0,
 46395: 4.0,
 46398: 33.0,
 46400: 1.0,
 46401: 1.0,
 46408: 11.0,
 46415: 12.0,
 46416: 49.0,
 46418: 13.0,
 46420: 9556.0,
 46422: 471.0,
 46424: 279.0,
 46427: 456.0,
 46430: 178.0,
 46431: 4.0,
 46432: 4.0,
 46433: 1384.0,
 46434: 1250.0,
 46441: 6.0,
 46442: 2886.0,
 46446: 5676.0,
 46447: 1.0,
 772: 106.0,
 773: 65.0,
 774: 117592.0,
 778: 2.0,
 779: 16.0,
 780: 169316.0,
 811: 287.0,
 812: 304.0,
 839: 3238.0,
 841: 3162.0,
 842: 3741.0,
 843: 3.0,
 844: 5055.0,
 845: 5.0,
 846: 9334.0,
 847: 13907.0,
 848: 3.0,
 849: 8.0,
 850: 39132.0,
 851: 50911.0,
 852: 5.0,
 853: 6.0,
 854: 4.0,
 855: 8292.0,
 856: 6226.0,
 857: 6927.0,
 858: 24.0,
 859: 28.0,
 860: 19.0,
 861: 3542.0,
 862: 3721.0,
 863: 16.0,
 ...}

In [75]:
df11['sales_dollars_value'] = df11['product_id'].map(map1)

In [76]:
df11

,date,platform,searchvolume,claim_id,week_number,year_new,claim name,product_id,sales_dollars_value
0,01-01-2014,google,6613,8,1,2014,low carb,26,17.0
1,01-01-2014,google,6613,8,1,2014,low carb,29,2.0
2,01-01-2014,google,6613,8,1,2014,low carb,86,NaN
3,01-01-2014,google,6613,8,1,2014,low carb,87,NaN
4,01-01-2014,google,6613,8,1,2014,low carb,120,2.0
...,...,...,...,...,...,...,...,...,...
100858375,29-06-2019,google,41,433,26,2019,gingerbread,18931,964.0
100858376,29-06-2019,google,41,433,26,2019,gingerbread,18932,213.0
100858377,29-06-2019,google,41,433,26,2019,gingerbread,26054,12564.0
100858378,29-06-2019,google,41,433,26,2019,gingerbread,26059,26.0
100858379,29-06-2019,google,41,433,26,2019,gingerbread,26420,36.0

In [77]:
df11 = df11[['claim name','sales_dollars_value','year_new']]

In [78]:
df12= df11[df11['year_new'] == 2017]

In [79]:
df12

          claim name  sales_dollars_value  year_new
15222480    low carb                 17.0      2017
15222481    low carb                  2.0      2017
15222482    low carb                  NaN      2017
15222483    low carb                  NaN      2017
15222484    low carb                  2.0      2017
...              ...                  ...       ...
100857410       nuts                351.0      2017
100857411       nuts               1704.0      2017
100857412       nuts               8417.0      2017
100857413       nuts                275.0      2017
100857414       nuts                 12.0      2017

[10781798 rows x 3 columns]

In [80]:
df13= df11[df11['year_new'] == 2018]

In [81]:
df13

          claim name  sales_dollars_value  year_new
27254955    low carb                 17.0      2018
27254956    low carb                  2.0      2018
27254957    low carb                  NaN      2018
27254958    low carb                  NaN      2018
27254959    low carb                  2.0      2018
...              ...                  ...       ...
100856914   mackerel                721.0      2018
100856915   mackerel                180.0      2018
100856916   mackerel                  NaN      2018
100856917   mackerel                328.0      2018
100856918   mackerel                 72.0      2018

[34028284 rows x 3 columns]

In [82]:
merge1 = df12.groupby(['claim name'])['sales_dollars_value'].sum().reset_index()

In [83]:
merge1.sort_values(by = 'sales_dollars_value', ascending = False, inplace = True)

In [84]:
merge1

                       claim name  sales_dollars_value
15                       low carb         3.989156e+10
1                       blueberry         8.022512e+09
11                       gmo free         7.763893e+09
9                 ethnic & exotic         5.512842e+09
24                         salmon         3.704787e+09
26                      soy foods         2.488665e+09
16                     low sodium         1.685593e+09
19     no additives/preservatives         1.293179e+09
14                    low calorie         9.723005e+08
3                         chicken         9.412585e+08
10                  french bisque         6.713494e+08
28                     vegetarian         4.062175e+08
5                            crab         3.744003e+08
17                      low sugar         1.639195e+08
8             ethical - packaging         1.456154e+08
13         high/source of protein         1.066940e+08
0                  beef hamburger         2.302913e+07
6                energy/alertness         1.525065e+07
22                        poultry         1.205816e+07
23                      prebiotic         1.132721e+07
4   convenience - easy-to-prepare         9.973378e+06
2                     bone health         6.400492e+06
12                          halal         5.826920e+05
7          ethical - not specific         4.764780e+05
20                           nuts         3.606070e+05
21                          peach         9.481500e+04
18                       mackerel         4.593600e+04
25                       sea salt         1.286000e+03
27                           tuna         1.730000e+02

In [85]:
merge2 = df13.groupby(['claim name'])['sales_dollars_value'].sum().reset_index()

In [86]:
merge2

                       claim name  sales_dollars_value
0                  beef hamburger         3.265133e+07
1                       blueberry         1.730261e+10
2                     bone health         1.404313e+07
3                         chicken         1.699847e+09
4   convenience - easy-to-prepare         5.885928e+06
5                            crab         1.305475e+09
6                energy/alertness         1.540680e+07
7          ethical - not specific         6.684570e+05
8             ethical - packaging         1.388601e+08
9                 ethnic & exotic         1.490399e+10
10                  french bisque         1.661183e+09
11                       gmo free         7.411988e+09
12                          halal         5.694490e+05
13         high/source of protein         1.380746e+08
14                    low calorie         9.175230e+08
15                       low carb         1.546201e+11
16                     low sodium         1.653789e+09
17                      low sugar         2.564912e+08
18                       mackerel         5.614400e+04
19     no additives/preservatives         1.141041e+09
20                        poultry         1.875714e+07
21                      prebiotic         1.354155e+07
22                         salmon         6.064873e+09
23                      soy foods         9.329602e+09
24                           tuna         1.780000e+02
25                     vegetarian         4.282946e+08

In [87]:
merge2.sort_values(by = 'sales_dollars_value', ascending = False, inplace = True)

In [88]:
merge2

                       claim name  sales_dollars_value
15                       low carb         1.546201e+11
1                       blueberry         1.730261e+10
9                 ethnic & exotic         1.490399e+10
23                      soy foods         9.329602e+09
11                       gmo free         7.411988e+09
22                         salmon         6.064873e+09
3                         chicken         1.699847e+09
10                  french bisque         1.661183e+09
16                     low sodium         1.653789e+09
5                            crab         1.305475e+09
19     no additives/preservatives         1.141041e+09
14                    low calorie         9.175230e+08
25                     vegetarian         4.282946e+08
17                      low sugar         2.564912e+08
8             ethical - packaging         1.388601e+08
13         high/source of protein         1.380746e+08
0                  beef hamburger         3.265133e+07
20                        poultry         1.875714e+07
6                energy/alertness         1.540680e+07
2                     bone health         1.404313e+07
21                      prebiotic         1.354155e+07
4   convenience - easy-to-prepare         5.885928e+06
7          ethical - not specific         6.684570e+05
12                          halal         5.694490e+05
18                       mackerel         5.614400e+04
24                           tuna         1.780000e+02

In [89]:
final_merge = pd.merge(merge1,merge2, on = 'claim name', how = 'inner')

In [90]:
final_merge

,claim name,sales_dollars_value_x,sales_dollars_value_y
0,low carb,3.989156e+10,1.546201e+11
1,blueberry,8.022512e+09,1.730261e+10
2,gmo free,7.763893e+09,7.411988e+09
3,ethnic & exotic,5.512842e+09,1.490399e+10
4,salmon,3.704787e+09,6.064873e+09
5,soy foods,2.488665e+09,9.329602e+09
6,low sodium,1.685593e+09,1.653789e+09
7,no additives/preservatives,1.293179e+09,1.141041e+09
8,low calorie,9.723005e+08,9.175230e+08
9,chicken,9.412585e+08,1.699847e+09
10,french bisque,6.713494e+08,1.661183e+09
11,vegetarian,4.062175e+08,4.282946e+08
12,crab,3.744003e+08,1.305475e+09
13,low sugar,1.639195e+08,2.564912e+08
14,ethical - packaging,1.456154e+08,1.388601e+08
15,high/source of protein,1.066940e+08,1.380746e+08
16,beef hamburger,2.302913e+07,3.265133e+07
17,energy/alertness,1.525065e+07,1.540680e+07
18,poultry,1.205816e+07,1.875714e+07
19,prebiotic,1.132721e+07,1.354155e+07
20,convenience - easy-to-prepare,9.973378e+06,5.885928e+06
21,bone health,6.400492e+06,1.404313e+07
22,halal,5.826920e+05,5.694490e+05
23,ethical - not specific,4.764780e+05,6.684570e+05
24,mackerel,4.593600e+04,5.614400e+04
25,tuna,1.730000e+02,1.780000e+02

In [91]:
final_merge['% change'] = ((final_merge.sales_dollars_value_y - final_merge.sales_dollars_value_x)/final_merge.sales_dollars_value_x*100)

In [92]:
final_merge.sort_values(by = '% change', ascending= False,inplace = True)

In [93]:
final_merge.rename(columns = {'sales_dollars_value_x': 'sales_dollars_value_2017'}, inplace = True)

In [94]:
final_merge.rename(columns = {'sales_dollars_value_y': 'sales_dollars_value_2018'}, inplace = True)

In [95]:
final_merge

,claim name,sales_dollars_value_2017,sales_dollars_value_2018,% change
0,low carb,3.989156e+10,1.546201e+11,287.601078
5,soy foods,2.488665e+09,9.329602e+09,274.883721
12,crab,3.744003e+08,1.305475e+09,248.684211
3,ethnic & exotic,5.512842e+09,1.490399e+10,170.350404
10,french bisque,6.713494e+08,1.661183e+09,147.439353
21,bone health,6.400492e+06,1.404313e+07,119.407008
1,blueberry,8.022512e+09,1.730261e+10,115.675676
9,chicken,9.412585e+08,1.699847e+09,80.592992
4,salmon,3.704787e+09,6.064873e+09,63.703704
13,low sugar,1.639195e+08,2.564912e+08,56.473829
18,poultry,1.205816e+07,1.875714e+07,55.555556
16,beef hamburger,2.302913e+07,3.265133e+07,41.782730
23,ethical - not specific,4.764780e+05,6.684570e+05,40.291262
15,high/source of protein,1.066940e+08,1.380746e+08,29.411765
24,mackerel,4.593600e+04,5.614400e+04,22.222222
19,prebiotic,1.132721e+07,1.354155e+07,19.548872
11,vegetarian,4.062175e+08,4.282946e+08,5.434783
25,tuna,1.730000e+02,1.780000e+02,2.890173
17,energy/alertness,1.525065e+07,1.540680e+07,1.023891
6,low sodium,1.685593e+09,1.653789e+09,-1.886792
22,halal,5.826920e+05,5.694490e+05,-2.272727
2,gmo free,7.763893e+09,7.411988e+09,-4.532578
14,ethical - packaging,1.456154e+08,1.388601e+08,-4.639175
8,low calorie,9.723005e+08,9.175230e+08,-5.633803
7,no additives/preservatives,1.293179e+09,1.141041e+09,-11.764706
20,convenience - easy-to-prepare,9.973378e+06,5.885928e+06,-40.983607