In [1]:
import os

import random
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import pandas as pd
import numpy as np
import missingno as msno
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import warnings
warnings.filterwarnings('ignore')

from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.model_selection import train_test_split
import scipy.stats as stats
from sklearn.ensemble import RandomForestRegressor

from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error,mean_absolute_percentage_error
from statsmodels.stats.outliers_influence import variance_inflation_factor

from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score

from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
#from xgboost import XGBClassifier
#from catboost import CatBoostClassifier
from sklearn import metrics
from sklearn.metrics import roc_curve
from sklearn.metrics import recall_score, confusion_matrix, precision_score, f1_score, accuracy_score, classification_report
#from pandas_profiling import ProfileReport
import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

In [2]:
df1 = pd.read_csv("google_search_data.csv")
df2 = pd.read_csv("product_manufacturer_list.csv")
df3 = pd.read_csv("sales_data.csv")
df4 = pd.read_csv("social_media_data.csv")
df5 = pd.read_csv("Theme_list.csv")
df6= pd.read_csv("Theme_product_list.csv")

In [3]:
df1.columns = df1.columns.str.lower()
df2.columns = df2.columns.str.lower()
df3.columns = df3.columns.str.lower()
df4.columns = df4.columns.str.lower()
df5.columns = df5.columns.str.lower()
df6.columns = df6.columns.str.lower()

In [4]:
df1

              date platform  searchvolume  claim_id  week_number  year_new
0       05-01-2014   google           349       916            1      2014
1       06-01-2014   google           349       916            2      2014
2       07-01-2014   google           697       916            2      2014
3       10-01-2014   google           349       916            2      2014
4       20-01-2014   google           697       916            4      2014
...            ...      ...           ...       ...          ...       ...
181560  05-09-2019  walmart           125       980           36      2019
181561  22-09-2019  walmart            84       980           38      2019
181562  26-09-2019  walmart            42       980           39      2019
181563  15-07-2019  walmart            42       622           29      2019
181564  02-09-2019  walmart            42       689           36      2019

[181565 rows x 6 columns]

In [5]:
df4

        theme id published_date  total_post
0          148.0     10-01-2015          76
1          148.0     10-10-2015          31
2          148.0     10-11-2015          65
3          148.0     10-12-2015          88
4          148.0     10/13/2015          85
...          ...            ...         ...
533385     876.0     09-05-2019        4658
533386     876.0     09-06-2019        3731
533387     876.0     09-07-2019        2336
533388     876.0     09-08-2019        1374
533389     876.0     09-09-2019        1442

[533390 rows x 3 columns]

In [6]:
df10 = pd.merge(df3,df6, on='product_id', how = 'inner')

In [7]:
df10

,system_calendar_key_n,product_id,sales_dollars_value,sales_units_value,sales_lbs_value,claim_id
0,20160109,1,13927.0,934,18680,0
1,20160123,1,12628.0,878,17564,0
2,20160206,1,11379.0,810,16200,0
3,20160130,1,11568.0,821,16424,0
4,20160213,1,10959.0,784,15682,0
...,...,...,...,...,...,...
7767415,20191005,56817,699.0,37,129,0
7767416,20191005,56818,486.0,7,158,0
7767417,20191005,56924,53.0,3,16,8
7767418,20191005,57045,6.0,1,7,0
7767419,20191005,57081,2.0,1,0,0

In [8]:
dict1 = dict(zip(df1['claim_id'],df1['searchvolume']))

In [9]:
dict1

{916: 79,
 8: 42,
 555: 42,
 510: 42,
 39: 39,
 40: 82,
 543: 1344,
 847: 499,
 999: 515,
 747: 125,
 922: 42,
 754: 4,
 683: 484,
 930: 469,
 702: 62,
 616: 115,
 782: 155,
 965: 3399,
 173: 1561,
 100: 814,
 889: 227,
 151: 6887,
 707: 148,
 903: 75,
 191: 42,
 844: 1179,
 567: 389,
 192: 529,
 163: 2,
 852: 860,
 931: 1838,
 860: 1309,
 152: 3879,
 901: 13268,
 907: 5497,
 761: 1457,
 944: 39,
 613: 125,
 974: 41,
 594: 42,
 558: 39,
 657: 21704,
 741: 41565,
 574: 282,
 650: 118,
 713: 41,
 620: 184,
 979: 1501,
 904: 42,
 207: 479,
 937: 83,
 839: 64,
 813: 396,
 556: 31,
 430: 42,
 908: 509,
 516: 42,
 958: 125,
 755: 186,
 967: 84,
 81: 222,
 869: 39550,
 587: 256,
 142: 26,
 788: 14,
 870: 190,
 720: 660,
 437: 2759,
 668: 42,
 438: 42,
 65: 544,
 211: 143,
 576: 582,
 519: 81,
 928: 4,
 959: 42,
 605: 64,
 526: 463,
 600: 7274,
 918: 84,
 541: 42,
 177: 1052,
 777: 113,
 583: 42,
 632: 276,
 507: 219,
 823: 1099,
 187: 416,
 615: 185,
 158: 41,
 670: 499,
 770: 42,
 884: 42,
 682: 276,
 634: 42,
 732: 116,
 75: 42,
 608: 3309,
 531: 1143,
 964: 42,
 946: 150,
 227: 42,
 684: 155,
 929: 42,
 228: 271,
 980: 42,
 601: 199,
 622: 42,
 906: 466,
 803: 422,
 689: 42,
 148: 423,
 816: 90,
 915: 1,
 984: 89,
 120: 297,
 536: 5540,
 704: 206,
 780: 2,
 887: 84,
 509: 824,
 785: 246,
 821: 265,
 867: 186,
 877: 378,
 789: 248,
 618: 109,
 842: 41,
 913: 1445,
 737: 34,
 743: 24,
 193: 680,
 659: 159,
 197: 621,
 138: 214,
 900: 150,
 970: 164,
 982: 4,
 799: 2,
 681: 1,
 79: 77,
 738: 25,
 384: 74,
 716: 114,
 677: 2,
 977: 56,
 948: 147,
 393: 25,
 101: 8,
 941: 2,
 139: 13,
 125: 14,
 985: 38,
 981: 19,
 566: 2,
 832: 2,
 514: 3,
 843: 84,
 606: 135,
 433: 41}

In [ ]:
df10['searchvolume'] = df10['claim_id'].map(dict1)

In [ ]:
dict11 = dict(zip(df4['published_date'],df4['total_post']))

In [ ]:
dict11

In [ ]:
df1['total_post'] = df1['date'].map(dict11)

In [ ]:
df1

In [ ]:
dict12 = dict(zip(df1['claim_id'],df1['total_post']))

In [ ]:
df10['total_post'] = df10['claim_id'].map(dict12)

In [ ]:
df10

In [ ]:
df10.isnull().sum()

In [ ]:
df10.dropna(inplace = True)

In [ ]:
df11 = df10[['claim_id','searchvolume','total_post','sales_lbs_value','sales_units_value','sales_dollars_value']]

In [ ]:
df11

In [ ]:
df10

# Estimate the impact on sales due to social trends, search trends, own price and competitor effects

# Mutiple Regression Model

In [ ]:
X = df11.iloc[:, :-1].values
y = df11.iloc[:, -1].values

In [ ]:
print(X)

In [ ]:
print(y)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [ ]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

In [ ]:
y_pred = regressor.predict(X_test)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

In [ ]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

# Polynomial Regression

In [ ]:
X = df11.iloc[:, :-1].values
y = df11.iloc[:, -1].values

In [ ]:
df11

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [ ]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
poly_reg = PolynomialFeatures(degree = 4)
X_poly = poly_reg.fit_transform(X_train)
regressor = LinearRegression()
regressor.fit(X_poly, y_train)

In [ ]:
y_pred = regressor.predict(poly_reg.transform(X_test))
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

In [ ]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

# Decision Tree Regression

In [ ]:
X = df11.iloc[:, :-1].values
y = df11.iloc[:, -1].values

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [ ]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(random_state = 0)
regressor.fit(X_train, y_train)

In [ ]:
y_pred = regressor.predict(X_test)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

In [ ]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

# Random Forest Regression

In [ ]:
X = df11.iloc[:, :-1].values
y = df11.iloc[:, -1].values

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 10, random_state = 0)
regressor.fit(X_train, y_train)

In [ ]:
y_pred = regressor.predict(X_test)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

In [ ]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

In [ ]:
#The impact is demonstrated through different model out of which r2_score for Random Forest Regressor is best of 0.9623 and 
# is less than previous score of0.9624
#This shows the impact of sales due search volume trends,social trends,own price and competitor (total_post) effect

# The overall conclusion is demonstrated in this and it gives insight about factors which could leverage for growth of sales and profit for our client

# Recommend levers for business growth

In [ ]:
df11

# Using EDA and Sales models, identify the themes with high business opportunity

In [ ]:
df12 = pd.merge(df1,df5, on = 'claim_id', how = 'inner')

In [ ]:
df12

In [ ]:
maxs=df12.groupby('claim name')['searchvolume'].sum().reset_index().rename(columns ={'searchvolume':'grouped aggregate searchvolume'})

In [ ]:
final = maxs.sort_values(by = 'grouped aggregate searchvolume',ascending = False)

In [ ]:
final

In [ ]:
c_labels = final['claim name']
fig = make_subplots(rows=1, cols=1, specs=[[{'type':'domain'}]])
fig.add_trace(go.Pie(labels=c_labels, values=df12['claim name'].value_counts(), name="Theme"),
              1, 1)
fig.update_traces(hole=.4, hoverinfo="label+percent+name", textfont_size=16)

fig.update_layout(
    title_text="Theme distribution",
    annotations=[dict(text='Theme', x=0.84, y=0.5, font_size=20, showarrow=False)])
fig.show()

In [ ]:
maxs=df12.groupby('claim name')['searchvolume'].sum().reset_index().rename(columns ={'searchvolume':'grouped aggregate searchvolume'}).plot.bar(figsize=(20,20))

In [ ]:
year_df = pd.DataFrame(df12['claim name'].value_counts()).reset_index()
year_df.columns = ['claim name', 'year_new']

In [ ]:
sns.barplot(x='claim name', y='year_new', data=year_df)

In [ ]:

df12

In [ ]:
df12

In [ ]:
df3

In [ ]:
df6

In [ ]:
di = dict(zip(df6['claim_id'],df6['product_id']))

In [ ]:
df12['product_id'] = df12['claim_id'].map(di)

In [ ]:
d1 = dict(zip(df3['product_id'],df3['sales_dollars_value']))

In [ ]:
d2 = dict(zip(df3['product_id'],df3['sales_lbs_value']))

In [ ]:
d3 = dict(zip(df3['product_id'],df3['sales_units_value']))

In [ ]:
df12['sales_dollars_value'] = df12['product_id'].map(d1)

In [ ]:
df12['sales_lbs_value'] = df12['product_id'].map(d2)

In [ ]:
df12['product_units_value'] = df12['product_id'].map(d3)

In [ ]:
df12

In [ ]:
maxs1=df12.groupby('claim name')['sales_dollars_value'].sum().reset_index().rename(columns ={'sales_dollars_value':'grouped aggregate sales dollar value'})

In [ ]:
final1 = maxs1.sort_values(by = 'grouped aggregate sales dollar value',ascending = False)

In [ ]:
final1

In [ ]:
maxs2=df12.groupby('claim name')['sales_dollars_value'].sum()

In [ ]:
final2 = maxs2.sort_values(ascending = False)

In [ ]:
final2.plot(kind='pie',y='value_column',autopct='%1.0f%%')

In [ ]:
maxs2=df12.groupby('claim name')['sales_lbs_value'].sum().reset_index().rename(columns ={'sales_lbs_value':'grouped aggregate sales lbs value'})

In [ ]:
final2 = maxs2.sort_values(by = 'grouped aggregate sales lbs value',ascending = False)

In [ ]:
final2

In [ ]:
# The sales dollar value and sales lbs value for low carb is highest hence can be most popular theme for high business opportunity but searchvolume for ethical
# environment theme is maximum so there can be possibility of its being most popular theme for high business opportunity.

# What are the controllable factors which client could leverage to increase sales across themes?

In [ ]:
from sklearn.feature_selection import mutual_info_regression
mutual_info = mutual_info_regression(X_train,y_train)

In [ ]:
mutual_info

In [ ]:
# The mutual info score for sales_lbs_value is 1.4 and highest among all hence can be chosen as controllable factor to increase
# sales across themes

# How to achieve a 5% increase in sales overall?

In [ ]:
df11.corr()

In [ ]:
# The highest corrletaion factor is between sales_lbs_value and and sales_dollars_value therefore increasing the sales_lbs_value 
# can help in increasing sales by 5%

In [ ]:
#Secondaly mutual_info_regression score is max for sales_lbs_value as calcuted above there sales_lbs_value can leverage for
# increasing sales by 5%